
body {
  font-family: sans-serif;
  background-color:#575757;
  color: hsl(0, 0%, 0%);
}

html,
.wrapper {
  font-size: x-large;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

header { 
  background-color:blue;
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 100%);
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

.current-box{
  display: block;
  background-color:blue;
  color: white;
}
.title-inline{
  display: inline-block;
  font-size: large;
  font-weight: bolder;
}

.forecast-box{
  background-color: blue ;
  color: white;
  display: inline-block;
  margin:5px;
  padding: 5px;
}
.forecast-box img{
  height:45px;
}